@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?uy7w7m');
    src:  url('fonts/icomoon.eot?uy7w7m#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?uy7w7m') format('truetype'),
      url('fonts/icomoon.woff?uy7w7m') format('woff'),
      url('fonts/icomoon.svg?uy7w7m#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#f5f5f5;
    font-family: 'Microsoft YaHei',Arial, Helvetica, sans-serif;
}

.w {
    width: 1200px;
    margin: auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.img{
    border: 0;
    vertical-align: middle;
}

button{
    cursor:pointer;
}

.header {
    height: 70px;
    background-color: #f5f5f5;
    margin: 30px auto;
}

.logo{
    float: left;
    width: 184px;
    height: 70px;
    border-top: none;
}

.nav {
    float: left;
    margin-left: 60px;
    border-top: 4px solid lightsalmon;
    border-bottom: 2px solid #edeef0;
    line-height: 70px;
    
}

.nav li {
    float: left;
    margin:0 25px;
}

.nav li a {
    display: inline-block;
    padding: 0 15px;
    height: 69px;
    font-size: 16px;
    color: #4c4c4c;
}

.nav li a:hover{
    color: lightsalmon;
}

.nav span{
    display: inline-block;
    font-family: 'icomoon';
    font-size: large;
}

.container {
    align-items: start;
    display: flex;
}

.container__media {
    margin-right: 16px;

    width: 200px;
}

.container__content {
    flex: 1;
}