@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?uy7w7m');
    src: url('fonts/icomoon.eot?uy7w7m#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?uy7w7m') format('truetype'),
        url('fonts/icomoon.woff?uy7w7m') format('woff'),
        url('fonts/icomoon.svg?uy7w7m#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
    font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
}

.w {
    width: 1200px;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.img {
    border: 0;
    vertical-align: middle;
}

button {
    cursor: pointer;
}

.header {
    height: 70px;
    background-color: #f5f5f5;
    margin: 30px auto;
}

.logo {
    float: left;
    width: 184px;
    height: 70px;
    border-top: none;
}

.nav {
    float: left;
    margin-left: 120px;
    border-top: 4px solid lightsalmon;
    border-bottom: 2px solid #edeef0;
    line-height: 70px;

}

.nav li {
    float: left;
    margin: 0 30px;
}

.nav li a {
    display: inline-block;
    padding: 0 15px;
    height: 69px;
    font-size: 16px;
    color: #4c4c4c;
}

.nav li a:hover {
    color: lightsalmon;
}

.nav span {
    display: inline-block;
    font-family: 'icomoon';
    font-size: large;
}

.media {
    margin: auto;
    width: 1000px;
    height: 350px;
    border: 2px solid lightgray;
    background-color: rgb(255, 255, 255);
}

.media .my__image {
    display: inline-block;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-left: 250px;
    margin-right: 200px;
}

.mediabody {
    display: inline-block;
    margin-top: 0.5em;
}

.information {
    border-bottom: 2px solid lightgray;
}

h5 {
    font-size: 1.25rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    font-weight: 700;
    line-height: 1.2;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.p1,
.p2 {
    margin-bottom: .8rem !important;
}

p {
    display: block;
    margin-top: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.mediatask {
    background-color: rgb(248, 249, 250);
}

.tasking,
.tasked,
.earned {
    float: left;
    padding-right: 125px;
    padding-left: 125px;
    text-align: center;
    margin-top: 40px;
}

.tasking h2 {
    color: orange;
}

.earned h2 {
    color: lightcoral;
}

.more {
    margin: auto;
    width: 1000px;
    border-bottom: 2px solid lightgray;
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
    text-align: right;
}


.more a {
    font-weight: 700;
    color: black;
}

.details {
    position: relative;
    width: 1000px;
    margin: auto;
}

.left1,
.left2 {
    width: 1000px;
    margin-top: 50px;
    height: 50px;
    background-color: lightsalmon;
}

.left1 p,
.left2 p {
    text-align: center;
    font-weight: 900;
    font-size: larger;
}

.mytask,
.accepttask {
    min-height: 150px;
    width: 650x;
    border: 2px solid lightgray;
    background-color: rgb(248, 249, 250);
}

.details .accepttask {
    min-height: 155px;
}

.mytask a,
.accepttask a {
    margin-left: 30px;
    font-size: large;
    font-weight: 400;
    color: #4c4c4c;
}

.nav {
    margin-bottom: 70px;
}